<h2>BEST ACCREDITED STUDENT BRANCHES</h2>
<% j=1 %>
<% @bestaccreditedstudentbranches.each do |i| %>
    
    <%= j %> ) <%= link_to i.name_of_the_institution , i  %>
    <% j+=1 %>
    <br>
<% end %>    